body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #673ab7;
  padding: 50px;
  color: #fefefe;
}

.brand.large {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  color: #673ab7;
}

a {
  color: #fe4081;
}

a:hover {
  color: #c1185a;
}

.container {
  padding: 25px;
  text-align: center;
}

.error {
  font-size: 3em;
  color: #fe5622;
}

.form {
  width: 50%;
  max-width: 340px;
  padding: 10px;
  margin: 0 auto;
}

input {
  width: 66%;
  padding: 15px;
  border: none;
  box-shadow: none;
  border: 1px solid #673ab7;
}

input:last-child {
  width: 100%;
  color: #673ab7;
  margin-top: 25px;
}

button {
  border: none;
  padding: 15px;
  width: 23%;
  cursor: pointer;
  background-color: #673ab7;
  color: #fefefe;
}
