body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #673ab7;
  padding: 50px;
  color: #fefefe;
}

.brand.large {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  color: #673ab7;
}

a {
  color: #fe4081;
}

a:hover {
  color: #c1185a;
}

.container {
  padding: 25px;
  text-align: center;
}

.error {
  font-size: 3em;
  color: #fe5622;
}

.form {
  width: 75%;
  max-width: 450px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
}

.form input {
  width: 66.7%;
  padding: 15px;
  border: none;
  box-shadow: none;
  border: 1px solid #673ab7;
  outline: none;
}

.form button {
  border: none;
  padding: 15px;
  width: 24.5%;
  cursor: pointer;
  background-color: #673ab7;
  border: 1px solid #673ab7;
  color: #fefefe;
  outline: none;
}

.form button:disabled {
  opacity: 0.75;
}

.form button:active {
  transform: scale(0.95)
}

.form .result {
  color: #673ab7;
  margin-top: 30px;
  font-weight: bold;
  padding: 15px;
  width: 92.5%;
  max-width: 450px;
  border: 1px solid #673ab7;
  min-height: 21px;
}

.container hr {
  margin: 50px;
  border-color: #673ab7;
}
